.list_of_gifs {
  list-style: none;
  min-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.column {
  padding-left: .5em;
  background-clip: padding-box;
}

.list_of_gifs .gif {
  width: 200px;
  margin-bottom: 20px;
}

/* .list_of_gifs > div {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
} */
